
/* =========================================
   TESTIMONIALS
========================================= */

.testimonials {
    background: var(--cream);
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.testimonial-card {
    background: white;
    padding: 35px;
    border-radius: var(--radius);
    box-shadow: 0 8px 25px rgba(70, 35, 35, 0.05);
}

.testimonial-rating {
    color: #f2b01e;
    margin-bottom: 15px;
}

.testimonial-card-p {
    color: var(--gray);
    font-size: 15px;
    font-style: italic;
    margin-bottom: 25px;
}

.customer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.customer-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--soft-pink);
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.customer strong,
.customer span {
    display: block;
}

.customer span {
    color: var(--gray);
    font-size: 11px;
}


/* =========================================
   TESTIMONIALS RESPONSIVE
========================================= */

@media (max-width: 1000px) {

    .testimonial-grid {
        grid-template-columns: 1fr;
    }

}

